<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Boom Beach Statue Calc</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.7/angular-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Boom Beach Statue Calculator</h1>
			<p>This is a calculator for easily determine the quanlity of a statue</p>
			<p class="pull-right">By <a href="mailto:franklan118@gmail.com">Frank Lan</a></p>
		</div>
	</div>

	<div ng-app="myApp" ng-controller="formCtrl" class="container">
		<form novalidate>
			<fieldset class="form-group" ng-repeat="(group_type, group_data) in statues">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">{{group_type}}</h4>
						<div ng-repeat="(item_type, item_data) in statues[group_type]">
							<div class="input-group" ng-init="input = ''">
								<span class="input-group-addon">{{item_data.name}}</span>
								<input type="value" class="form-control" ng-model="input")>
								<span class="input-group-addon">{{calc(input, item_data)}}</span>
							</div>
							<br/>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

		<p>
			<button class="btn" type="button" data-toggle="collapse"
				data-target="#collapseExample" aria-expanded="false"
				aria-controls="collapseExample">Raw Data
			</button>
		</p>
		<div class="collapse" id="collapseExample">
			<div class="card card-block row">
			<button class="btn pull-right" type="button">
				<a class="pull-right text-danger" href="emailto:franklan118@gmail.com">Report Error</a>
			</button>
			<pre>{{statues | json}}</pre>
			<button class="btn pull-right" type="button">
				<a class="pull-right text-danger" href="emailto:franklan118@gmail.com">Report Error</a>
			</button>
			</div>
		</div>
	</div>

</body>
<style>
.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #eceeef;
	border-radius: .3rem;
}

.jumbotron-hr {
	border-top-color: #d0d5d8;
}

@media ( min-width : 34em) {
	.jumbotron {
		padding: 1rem 2rem;
	}
}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
}
</style>
</html>